body{
            margin: 0;
        }
        .header {
            background-color: #202020;
            display: flex; /*logo left menu right*/
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /*border: 4px solid;*/
            padding: 0px 30px 0px 30px;
        }
        .links a {
            font-family: "BBH Sans Bartle", sans-serif;
            font-size: 8px;
            font-style: normal;
            color: white;
            padding: 5px 25px;
            text-decoration: none;
        }

        .links a:hover {
            font-size: 8px;
            color: #202020;
            background-color: rgb(163, 163, 163); /*#A3A3A3*/
            border-radius: 15px;
        }
        .links button {
            font-family: "BBH Sans Bartle", sans-serif;
            font-size: 8px;
            font-style: normal;
            color: #202020;
            background-color: rgb(163, 163, 163);
            border-radius: 15px;
            padding: 5px;
            transition: transform 0.3s ease;
        }
        .links button:hover {
            font-family: "BBH Sans Bartle", sans-serif;
            font-size: 8px;
            font-style: normal;
            color: white;
            background-color: #202020;
            border-radius: 15px;
            padding: 5px;
            transform: scale(1.1);
        }
        .header img{
            transition: transform 0.3s ease;
            transition: background-color 1s ease;
            border-radius: 15px;
            transform: scale(1.1);
        }
        .header img:hover{
            background-color: rgb(163, 163, 163);
            border-radius: 15px;
            transform: scale(1.1);
            padding: 0px;
            content: url("images/logo_text_hovered.png");
            /* width: 127px;*/
            border: #202020;
            transition: background-color 1s ease;
        }
        .intro h1{
            font-family: "BBH Sans Bartle", sans-serif;
            color: white;
            font-size: 20px;
            font-style: normal;
            transition: transform 0.3s ease;
            font-style: oblique;
        }
        .intro h1:hover{
            transform: scale(1.1);
        }
        .intro p{
            font-family: "BBH Sans Bogle", sans-serif;
            color: white;
            font-weight: 400;
            font-style: normal;
        }
        .poster {
            width: 420px;
            border-radius: 15px;
            transition: transform 0.3s ease;
        }
        .poster:hover{
            transform: scale(1.1);
        }
        .landing-page {
            display: flex;
            flex-direction: row;
            background-color: #202020;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            justify-content: space-between;
            padding: 5px 25px;
            align-items: center;
        }
        .input-button input {
            background-color: white;
            border-radius: 15px;
            font-family: "BBH Sans Bogle", sans-serif;
            width: 200px;
            height: 20px;            
            font-style: normal;
            padding-left: 10px;
            padding-right: 30px;
            outline: none;
        }
        .input-button button {
            font-family: "BBH Sans Bartle", sans-serif;
            font-size: 8px;
            font-style: normal;
            color: #202020;
            background-color: rgb(163, 163, 163);
            border-radius: 15px;
            padding: 5px;
            transition: transform 0.3s ease;
            height: 27px;
            position: absolute;
            left: 240px;
        }
        .input-button button:hover{
            font-family: "BBH Sans Bartle", sans-serif;
            font-size: 8px;
            font-style: normal;
            color: white;
            background-color: #202020;
            border-radius: 15px;
            padding: 5px;
            transform: scale(1.1);
        }
        .gs{
            padding: 10px 25px;
            font-family: "BBH Sans Bogle", sans-serif;
        }
        .trending h2{
            font-family: "BBH Sans Bartle", sans-serif;
            color: #bf5050;
            font-size: 20px;
            transition: transform 0.3s ease;
            font-style: oblique;

        }
        .trending h2:hover{
            transform: translateX(30px);
        }
        .trending {
            align-items: center;
            justify-content: space-between;
            display: flex;
            padding: 5px 25px;
        }
        .trending button {
            background-color: #bf5050;
            border-radius: 15px;
            transition: transform 0.3s ease;
            color: white;
            font-family: "BBH Sans Bartle", sans-serif;
            font-size: 8px;
            height: 27px;
        }
        .trending button:hover{
            background-color: #b53c3c;
            transform: scale(1.1);

        }
        .cards img {

            width: 230px;
            transition: transform 0.3s ease;
        }
        .trending-games {
            padding: 10px 25px;
            display: flex;
            gap: 25px;
            justify-content: center;
        }
        .card-info {
            display: flex;
            justify-content: space-between;
            padding: 6px 20px;
            align-items: center;
        }
        .card-info img {
            width: 30px;
            
        }
        .cards {
            width: 230px;
            background-color: #202020;
            border-radius: 15px 15px 150px 15px;
            transition: trasnform 0.3s ease;
        }
        .cards img:hover{
            transform: scaleY(1.1);
        }
        .card-name h3{
            color: white;
            font-family: "BBH Sans Bogle", sans-serif;
        }
        .card-name p {
            font-family: "BBH Sans Bogle", sans-serif;
            background-color: #a3a3a3;
            border-radius: 15px;
            padding-right: 0;
            color: #202020;
            padding-right: 0px;
            padding-left: 10px;
            width: 50px;
        }
        .postergame {
            border-radius: 15px 15px 0 0;
        }
        .card-name2 h3{
            color: white;
            font-family: "BBH Sans Bogle", sans-serif;
        }
        .card-name2 p {
            font-family: "BBH Sans Bogle", sans-serif;
            background-color: #a3a3a3;
            border-radius: 15px;
            padding-right: 0;
            color: #202020;
            padding-right: 12px;
            padding-left: 10px;
            width: 50px;
        }
        .card-name3 h3{
            color: white;
            font-family: "BBH Sans Bogle", sans-serif;
        }
        .card-name3 p {
            font-family: "BBH Sans Bogle", sans-serif;
            background-color: #a3a3a3;
            border-radius: 15px;
            padding-right: 0;
            color: #202020;
            padding-right: 0px;
            padding-left: 10px;
            width: 50px;
        }

        .card-name3 .rpg {
            font-family: "BBH Sans Bogle", sans-serif;
            background-color: #a3a3a3;
            border-radius: 15px;
            padding-right: 0;
            color: #202020;
            padding-right: 1px;
            padding-left: 10px;
            width: 34px;
        }
        .card-name4 h3{
            color: white;
            font-family: "BBH Sans Bogle", sans-serif;
        }
        .card-name4 p {
            font-family: "BBH Sans Bogle", sans-serif;
            background-color: #a3a3a3;
            border-radius: 15px;
            padding-right: 0;
            color: #202020;
            padding-right: 0px;
            padding-left: 10px;
            width: 50px;
            display: flex;
            align-items: center;

        }
        .card-name4 .adv {
            width: 75px;
        }
        .card-name4 .mp {
            width: 85px;
        }
        .card-name4 .rpg {
            width: 34px;
        }
        .card-info4 {
            display: flex;
            justify-content: space-between;
            padding: 6px 20px;
            align-items: center;
        }
        .card-info4 img {
            width: 30px;
        }



        
        .slideshow {
            position: relative;
            width: 450px;
            height: 250px;
            overflow: hidden;
            border-radius: 15px;
        }
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
            opacity: 0;
            animation: fade 36s infinite;
            display: block;
        }
        @keyframes fade {
            0% { opacity: 0; }   
            10% { opacity: 1; }   
            30% { opacity: 1; }  
            40% { opacity: 0; }   
            100% { opacity: 0; } 
        }
        .slide:nth-child(1) { animation-delay: 0s; } 
        .slide:nth-child(2) { animation-delay: 6s; }  
        .slide:nth-child(3) { animation-delay: 12s; }  
        .slide:nth-child(4) { animation-delay: 18s; }
        .slide:nth-child(5) { animation-delay: 24s; } 